.productCard {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #ebebeb;
  padding: 20px;
  max-width: 1500px;
  & > i {
    font-size: 2rem;
    cursor: pointer;
  }
  margin: 20px;
}

.productCarousel {
  display: flex;
  flex-direction: column;
}

.productImagePreview {
  margin-bottom: 20px;
  img {
    border-radius: 10px;
    width: 400px;
    height: 400px;
    object-fit: contain;
  }
}

.productImageIcons {
  display: flex;
  img {
    border-radius: 5px;
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-right: 20px;
  }
}

.productDetails {
  margin: 0 20px;
  .productDetails__head {
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
    h3 {
      margin-bottom: 10px;
    }
  }
  .productDetails__body {
    margin: 25px 0;
    p {
      margin: 10px 0;
    }
    h4 {
      margin: 15px 0;
    }
  }
}

@media screen and (max-width: 887px) {
  .productCard {
    flex-direction: column;
    margin: 10px;
    & > i {
      display: none;
    }
  }
  .productDetails {
    margin: 20px 0 0 0;
  }
}
