.current {
  border: 2px solid grey;
}

button {
  outline: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  padding: 12px 30px;
  background-color: white;
}

.fileButton {
  padding: 5px 7px;
  margin-top: 20px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  i {
    font-size: 1.1rem;
    &:first-child {
      margin-right: 10px;
    }
    &:last-child {
      color: rgb(16, 153, 16);
      font-size: 1.5rem;
      margin-left: 20px;
    }
  }
  span {
    font-size: 0.9rem;
  }
}

.deleteButton {
  border: 1px solid red;
  color: red;
  font-size: 1rem;
  margin-right: 10px;
}

.editButton {
  background-color: black;
  color: white;
  border: none;
  font-size: 1rem;
}

@media screen and (max-width: 887px) {
  button {
    padding: 12px 40px;
  }
}
